#new-entity-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="new-entity-modal-header", aria-hidden="true")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true")= "×"
    h3#new-entity-modal-header= "New Entity"
  .modal-body
    #entity-label-input-control-group.control-group
      .controls
        input#entity-label-input(type="text", placeholder="Entity Label")
        span#entity-label-input-error.help-inline
  .modal-footer
    button.btn(data-dismiss="modal", aria-hidden="true")= "Cancel"
    button#new-entity-save-button.btn.btn-primary= "Save"

#delete-entity-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="delete-entity-modal-header", aria-hidden="true")
  .modal-header
    h3#delete-entity-modal-header
  .modal-footer
    button#delete-entity-cancel-button.btn(aria-hidden="true")= "Cancel"
    button#delete-entity-confirm-button.btn.btn-primary= "Delete"

.row-fluid
    .span12
        h2.pull-left= "Entities"
        button.btn.btn-primary.pull-right(id="new-entity-button")= "New"

.row-fluid
    .span12
        table(class="table table-striped table-hover")
          thead
            tr
              th= 'Label'
              th= 'ID'
              th= ''
          tbody(id="entity-list")