#entityalert
.row-fluid
    .span12
        h2.pull-left= "Entity Details"
        button.btn.btn-primary.pull-right(id="edit-entity-button")= "Edit"
        button.btn.btn-success.pull-right.hide(id="save-entity-button")= "Save"
        button.btn.btn-danger.pull-right.hide(id="cancel-entity-button")= "Cancel"
.row-fluid
    .row
        .span12
            h4 Details
            dl#entity-details.dl-horizontal
    .row
        .span12
            h4 IP addresses
            #entity-ipaddresses
    .row
        .span12
            h4 Metadata
            #entity-metadata
.row    
    .span12
        h2 Checks
        table(class="table table-striped")
            thead
                tr
                    th= 'Label'
                    th= 'ID'
            tbody(id="entity-checks-list")