extends layout

block header

  script(data-main="/js/main", src="/js/extern/require/require.js")

block utilitynav
  ul.rs-nav
    li
      a(href="#entities") Rackspace Cloud Monitoring Preview
  ul.rs-nav.rs-pull-right
    if session.username
        li(id="account-view-link")
          a(href="#account")= session.username+" (#"+session.tenantId+")"
        li
          a(href="/logout")= "Logout"
      else
        li
          a(href="/login")= "Login"

block primarynav
  ul.rs-nav
    li(id="entities-view-link")
        a(href="#entities")= "Entities"
    li(id="notifications-list-view-link")
        a(href="#notifications")= "Notifications"
    li(id="grapher-view-link")
        a(href="#grapher")= "Graphing"

block content
  #entities-view-content.container
  #notifications-list-view-content.container.hide
  #notification-plan-details-view-content.container.hide
  #entity-details-view-content.container.hide
  #check-details-view-content.container.hide
  #alarm-details-view-content.container.hide
  #grapher-view-content.container.hide
    include grapher
  #account-view-content.container.hide
    include account
  #loading-view-content.container
    include loading
  #error-view-content.container.hide
    include error

block footer
  div.rs-container
    ul.rs-links
      li © 2013 Rackspace, US
      li
        a(href="http://www.rackspace.com/information/legal/websiteterms")= "Website Terms"
      li
        a(href="http://www.rackspace.com/information/legal/privacystatement")= "Privacy Policy"
