extends layout

block header

  script(data-main="/js/main", src="/js/extern/require/require.js")

block utilitynav
  ul.rs-nav
    li
      a(href="#entities") Rackspace Cloud Monitoring Demo UI
  ul.rs-nav.rs-pull-right
    if session.username
        li(id="account-view-link")
          a(href="#account")= session.username+" (#"+session.tenantId+")"
        li
          a(href="/logout")= "Logout"
      else
        li
          a(href="/login")= "Login"

block primarynav
  ul.rs-nav
    li(id="entities-view-link")
        a(href="#entities")= "Entities"
    li(id="notifications-list-view-link")
        a(href="#notifications")= "Notifications"
    li(id="grapher-view-link")
        a(href="#grapher")= "Graphing"

block content
  div.alert.alert-error
    a(class="close", data-dismiss="alert", href="#")
      |&times;
    p
      strong= "Please note:"
      |  UI Labs will be replaced by <a href="https://intelligence.rackspace.com">Cloud Intelligence</a> on Dec 9th, 2014.
  #entities-view-content
  #notifications-list-view-content.hide
  #notification-plan-details-view-content.hide
  #entity-details-view-content.hide
  #check-details-view-content.hide
  #alarm-details-view-content.hide
  #grapher-view-content.hide
    include grapher
  #account-view-content.hide
    include account
  #loading-view-content
    include loading
  #error-view-content.hide
    include error

block footer
  div.rs-container
    ul.rs-links
      li © 2013 Rackspace, US
      li
        a(href="http://www.rackspace.com/information/legal/websiteterms")= "Website Terms"
      li
        a(href="http://www.rackspace.com/information/legal/privacystatement")= "Privacy Policy"
