.container-fluid
  .row-fluid
    .span3
      .row
        .span6
          h4= "Graphs"
        .span6
          button#save-graph-button.btn.btn-primary= "Save Graph"
      .row
        .span12
          table.table.table-condensed.table-hover#saved-graph-table

    #chart.span9
      h4#chart-title(style="text-align: center;")
      #daterangeselect.btn-group.pull-right
        button.btn.dropdown-toggle(data-toggle='dropdown')
          | Time Scale
          span.caret
        ul.dropdown-menu

      //- #axisselect.btn-group
      //-   button.btn.dropdown-toggle(data-toggle='dropdown')
      //-     | Axis Style
      //-     span.caret
      //-   ul.dropdown-menu

    .row-fluid
      .span4
        h4= 'Entities'
        table.table.table-condensed.table-hover#entity-table

      .span4
        h4= 'Checks'
        table.table.table-condensed.table-hover#check-table

      .span4
        h4= 'Metrics'
        table.table.table-condensed.table-hover#metric-table