.container-fluid
  .row-fluid
    .span3
      .row
        .span6
          h4= "Graphs"
        .span6
          button#save-graph-button.btn.btn-primary= "Save Graph"
      .row
        .span12
          table.table.table-condensed.table-hover#saved-graph-table

    #chart-container.span9
      h4#chart-title(style="text-align: center;")

      #daterangeselect.btn-group.pull-right
        button.btn.dropdown-toggle(data-toggle='dropdown')
          | Last day
          span.caret
        ul.dropdown-menu

      img#chart-loading(src="/images/loading_spinner.gif", style="display: block; margin-left: auto; margin-right: auto;")

      #chart

    .row-fluid
      .span4
        h4= 'Entities'
        table.table.table-condensed.table-hover#entity-table

      .span4
        h4= 'Checks'
        table.table.table-condensed.table-hover#check-table

      .span4
        h4= 'Metrics'
        table.table.table-condensed.table-hover#metric-table