.container-fluid
  .row-fluid
    .span3
      .row
        .span6
          h4= "Graphs"
        .span6
          button#save-graph-button.btn.btn-primary= "Save Graph"
      .row
        .span12
          table.table.table-condensed.table-hover#saved-graph-table

    #chart.span9
      //- span Days by Gain or Loss
      //- a.reset(href='javascript:gainOrLossChart.filterAll();dc.redrawAll();', style='display: none;') reset
      //- span.reset(style='display: none;')= "Current filter:"
      //- span.filter

    //- #chart_container.chart.span9
    //-   #chart
    //-   #legend_container
    //-     #smoother(title="Something")
    //-     #legend
    //-   #slider

    .row-fluid
      .span4
        h4= 'Entities'
        table.table.table-condensed.table-hover#entity-table

      .span4
        h4= 'Checks'
        table.table.table-condensed.table-hover#check-table

      .span4
        h4= 'Metrics'
        table.table.table-condensed.table-hover#metric-table