extends layout

block header

  script(data-main="/js/main", src="/js/extern/require/require.js")

block navbar
  a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
    span.icon-bar
    span.icon-bar
  a.brand(href="#entities")= "Rackspace Monitoring"
  div.nav-collapse.collapse
    ul.nav
      li(id="grapher-view-link")
        a(href="#grapher")= "grapher"
    ul.nav.pull-right
      if session.username
        li(id="account-view-link")
          a(href="#account")= session.username+" (#"+session.tenantId+")"
        li
          a(href="/logout")= "(Logout)"
      else
        li
          a(href="/login")= "(Login)"

block content
  #entities-view-content.container.hide
    include entities
  #entity-details-view-content.container.hide
    include entity-details
  #check-details-view-content.container.hide
    include check-details
  #grapher-view-content.container.hide
    include grapher
  #account-view-content.container.hide
    include account
  #loading-view-content.container
    include loading
  #error-view-content.container.hide
    include error